/* color schemes: https://coolors.co/fcf4df-e55e5b-f6f6f6-a02a28-bbcf81-f7c157 */

body {
  background: #f7c157;
}

.navbar {
  background-color: #FCF4DF;
  padding: 0px 12px 0px 12px;
}

#eatwhere-logo {
  margin-bottom: none;
  width: 50px;
}

#group-name {
  background-color: #bbcf81;
}

#logout {
  background-color: #A02A28;
  color: white;
}

.btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 0.5rem;
  width: auto;
  display: inline-block
}

.form-label-group {
  position: relative;
  margin-bottom: 0.5rem;
  border-radius: 5rem;
  padding: 0.5rem;
}

.input{
  height: auto;
  border-radius: 2rem;
}


.loading {
  background: #f7c157 url("/static/images/bowl-loading.gif") center no-repeat;
  width: 500px;
  height: 500px;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family:: Arial;
}


.card-body {
  padding: 1rem;
}


#res-img {
  height: 120px;
}

.pull-left {
  float:left;
  width: 40%;
}

.pull-right {
  float:right;
  width: 60%;
}

#res-details{
  color: black;
  text-decoration:underline;
  text-decoration-style: 1px dotted #000;
}

#thumbs-up {
  border-radius: 5rem;
  padding: 0.5rem;
  size: 5rem;
}

#nextBtn {
  width: fit-content;
}

#resultBtn {
  display: block;
  margin: 0 auto;
  background-color: #bbcf81;
}

#backToHomepage{
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #bbcf81;
}