{% extends 'base.html' %} {% block title %}Restaurant search{% endblock %}
{%block body %}

<nav class="navbar navbar-light bg-light">
  <a class="btn navbar-btn btn-danger ml-auto" role="button" href="/logout"
    >Logout</a
  >
</nav>

<section class="search-sec center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Let me know if you have any preference for a restaurant today</h2>

        <form id="search-form" method="GET" action="/restaurants-search.json">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0 form-label-group">
                  <input
                    id="search-location"
                    class="form-control"
                    type="text"
                    name="location"
                    required
                    placeholder="Enter location"
                  />
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <input
                    id="search-categories"
                    class="form-control"
                    type="text"
                    name="categories"
                    placeholder="Enter food type"
                  />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <select
                    id="search-price"
                    class="form-control custom-select"
                    name="price"
                  >
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                  </select>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <select
                    id="search-sort-by"
                    class="form-control custom-select"
                    name="sort_by"
                  >
                    <option value="best_match">Best Match</option>
                    <option value="rating">Rating</option>
                    <option value="review_count">Review Count</option>
                    <option value="distance">Distance</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="search-result-sec d-flex justify-content-center">
  <div class="row">
    <div class="col-md-6 offset-md-3" id="search-result">
      <img id="res-img" style="width: 50%" />
      <h2 id="res-name"></h2>
      <p id="rating"></p>
      <p id="review-count"></p>
      <p id="price"></p>
      <p id="categories"></p>
      <p id="address"></p>
      <a id="res-details" type="button" href="" style="display: none;">Restaurant details on Yelp</a>
    </div>
  </div>
  <button type="button" id="nextBtn" style="display: none;">Next</button>
</section>

{% endblock %}
